/* The webpage overall styling */


/* This styles the aside container */

#aSide {

    display: flex;
    justify-content: center;
    align-items: center;
    top: -20px;
    
  }
  
  
  /* This styles the 3D object inserted in the aside container */
  
  #aSide model-viewer {
    height: 40vh;
    width: 60vw;
    top: 0px;
    left: 0;
    border: none;
  }
  .show{
    top: -60px;
  }
  @media screen and (min-width: 480px) {
    #aSide{
      height: ;
    }
  }
  
  